﻿@model WebApplication4.Models.Product
 
<style>
    .product-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

        .product-container h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color :red;
        }

        .product-container h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .product-container p {
            font-size: 16px;
            margin-bottom: 20px;
        }

    .product-image {
        max-width: 200px;
        display: block;
        margin-bottom: 20px;
    }

    .back-link {
        display: inline-block;
        font-size: 16px;
        color: #333;
        text-decoration: none;
    }

        .back-link:hover {
            text-decoration: underline;
        }
</style>

<div class="product-container">
    <h2>@Model.Name</h2>
    <h3>Price: @Model.Price</h3>
    <p>@Model.Description</p>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" alt="Product Image" class="product-image" />
    }
</div>

<a asp-action="Index" class="back-link">Back to List</a>