﻿@model IEnumerable<WebApplication4.Models.Product>
<style>
    .product-image {
        width: 200px;  /* Điều chỉnh kích thước theo yêu cầu của bạn */
        height: 200px; /* Điều chỉnh kích thước theo yêu cầu của bạn */
        object-fit: cover;
    }
</style
<h2>Product List</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name </td>
                <td>@product.Price vnđ</td>
                <td>@product.Description</td>
                <td>@product.Category?.Name</td>
                <td>
                   <img src="@product.ImageUrl" alt="@product.Name" class="img-thumbnail product-image" />
                </td>
                <td class="text-right">
                    <a asp-action="Display" asp-route-id="@product.Id" class="btn btn-primary">View</a>
                    <a href="@Url.Action("Update", new { id = product.Id })" class="btn btn-info">Edit</a>
                    <a href="@Url.Action("Delete", new { id = product.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p><a href="@Url.Action("Add")">Create New Product</a></p>