﻿@model WebApplication4.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" required />
        <div class="invalid-feedback">Please enter the product name.</div>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" required />
        <div class="invalid-feedback">Please enter the product price.</div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter the product description.</div>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-select" required></select>
        <div class="invalid-feedback">Please select a category.</div>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="form-label">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" />
        <img src="@Model.ImageUrl" alt="Product Image" class="img-thumbnail mt-2" style="max-width: 200px;" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>